meteo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" > 
    <xsd:element name="meteo">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="mesure" maxOccurs="unbounded" type="T-mesure"> </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="T-mesure">
        <xsd:sequence>
            <xsd:element name="ville" maxOccurs="unbounded" type="T-ville"> </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="date" type="xsd:date" use="required" > </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="T-ville">
        <xsd:attribute name="nom" type="xsd:string" use="required" > </xsd:attribute>
        <xsd:attribute name="temperature" type="xsd:string" use="required" > </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
